<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.welladam.universalbookmarks</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2E802FCB-9F21-4B19-A562-7AF914034992</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8734AA64-95C2-4286-BBA4-7734583B1641</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69FDBC91-1C1A-4ECD-A7AF-0731FE2D3DA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E802FCB-9F21-4B19-A562-7AF914034992</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E191EA6D-05CC-44F7-B2DC-8BBBF939D3E9</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy the selected URL to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F7A8B9C0-D1E2-4F3A-5B6C-7D8E9F0A1B2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A1B2C3D4-E5F6-4A7B-8C9D-0E1F2A3B4C5D</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Delete this bookmark</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8734AA64-95C2-4286-BBA4-7734583B1641</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3A3CB21-6F97-4B80-9885-2979AEAB6F2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1B2C3D4-E5F6-4A7B-8C9D-0E1F2A3B4C5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2B3C4D5-E6F7-4B8C-9D0E-1F2A3B4C5D6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E191EA6D-05CC-44F7-B2DC-8BBBF939D3E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27325899-364E-4AD4-BA1B-EDA09D34FE7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Lau</string>
	<key>description</key>
	<string>Blazing fast, all-browser bookmark searcher.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Universal Bookmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ub</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Just a sec...</string>
				<key>script</key>
				<string>./ub search "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Please enter a keyword...</string>
				<key>title</key>
				<string>Universal Bookmark Search</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>69FDBC91-1C1A-4ECD-A7AF-0731FE2D3DA9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C3A3CB21-6F97-4B80-9885-2979AEAB6F2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>browser</key>
					<string>{var:linkinfo2}</string>
					<key>url</key>
					<string>{var:linkinfo1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8734AA64-95C2-4286-BBA4-7734583B1641</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>|</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>linkinfo</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>2E802FCB-9F21-4B19-A562-7AF914034992</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>The following URL is copied to clipboard!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>27325899-364E-4AD4-BA1B-EDA09D34FE7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E191EA6D-05CC-44F7-B2DC-8BBBF939D3E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./ub update &amp;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F7A8B9C0-D1E2-4F3A-5B6C-7D8E9F0A1B2C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Bookmark Deleted</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A2B3C4D5-E6F7-4B8C-9D0E-1F2A3B4C5D6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./ub delete "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1B2C3D4-E5F6-4A7B-8C9D-0E1F2A3B4C5D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>27325899-364E-4AD4-BA1B-EDA09D34FE7E</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>2E802FCB-9F21-4B19-A562-7AF914034992</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>69FDBC91-1C1A-4ECD-A7AF-0731FE2D3DA9</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>8734AA64-95C2-4286-BBA4-7734583B1641</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>A1B2C3D4-E5F6-4A7B-8C9D-0E1F2A3B4C5D</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>A2B3C4D5-E6F7-4B8C-9D0E-1F2A3B4C5D6E</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>C3A3CB21-6F97-4B80-9885-2979AEAB6F2B</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>E191EA6D-05CC-44F7-B2DC-8BBBF939D3E9</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>F7A8B9C0-D1E2-4F3A-5B6C-7D8E9F0A1B2C</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>UPDATER_DEBUG</key>
		<string>0</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>UPDATER_DEBUG</string>
	</array>
	<key>version</key>
	<string>0.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/we11adam/alfred-universal-bookmarks</string>
</dict>
</plist>
